pipeline/pipeline011ForEachActivityAppend.json
{
	"name": "pipeline011ForEachActivityAppend",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Country",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CountryNames",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Country Name",
					"value": {
						"value": "@variables('CountryNames')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Country": {
				"type": "array",
				"defaultValue": [
					"India",
					"UK",
					"US"
				]
			}
		},
		"variables": {
			"Country Name": {
				"type": "Array"
			},
			"CountryNames": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}