pipeline/pipeline018FilterDataAndInsertintoTable.json
{
	"name": "pipeline018FilterDataAndInsertintoTable",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dsfilterdataandinsertintotable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(string(item().payment),'visa')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insertsales]",
								"storedProcedureParameters": {
									"cost": {
										"value": {
											"value": "@item().cost",
											"type": "Expression"
										},
										"type": "String"
									},
									"credit_card": {
										"value": {
											"value": "@item().credit_card",
											"type": "Expression"
										},
										"type": "String"
									},
									"customer_id": {
										"value": {
											"value": "@item().customer_id",
											"type": "Expression"
										},
										"type": "String"
									},
									"loyalty_card": {
										"value": {
											"value": "@item().loyalty_card",
											"type": "Expression"
										},
										"type": "String"
									},
									"payment": {
										"value": {
											"value": "@item().payment",
											"type": "Expression"
										},
										"type": "String"
									},
									"price": {
										"value": {
											"value": "@item().price",
											"type": "Expression"
										},
										"type": "String"
									},
									"product_id": {
										"value": {
											"value": "@item().product_id",
											"type": "Expression"
										},
										"type": "String"
									},
									"quantity": {
										"value": {
											"value": "@item().quantity",
											"type": "Expression"
										},
										"type": "String"
									},
									"transaction_id": {
										"value": {
											"value": "@item().transaction_id",
											"type": "Expression"
										},
										"type": "String"
									},
									"transactional_date": {
										"value": {
											"value": "@item().transactional_date",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}